nav {
    display: flex;
    justify-content: space-between;

}

nav a {
    color: #fff;
    /*margin-right: 10px;*/
    text-decoration: none;
    margin: 0 1rem;
}

nav ul li {
    /* Puts the elements in a single line */
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
}

/*
Top nav header sticky
*/
.hd1 {
    position: sticky;
    top: 0;
    z-index: 100;
    background-color: rgba(143, 169, 152, 1.0);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 9%;
    /*padding: 0.2em;*/
}